<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-lazy-init="false">

		<!-- Enable annotation-based configuration -->
	<context:annotation-config/>

	<!-- Enable @AspectJ support -->
	<aop:aspectj-autoproxy/>

	<!-- Enable @Transactional support -->
	<tx:annotation-driven/>
	

	<beans profile="dev"> 
		<context:property-placeholder location="classpath:properties/dev/application.properties"/>
		<bean id="commonUtils" class="com.deodio.elearning.utils.CommonUtils">
			<property name="appPropsPath" value="properties/dev/application.properties" />
		</bean>	
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="plugins" ref="paginationInterceptor"/>
	    </bean>
	    
	    	   
	    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	        <property name="basePackage" value="com.deodio.elearning.persistence.mapper,com.deodio.elearning.persistence.customize.mapper"/>
		</bean>
	    
		
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxActive" value="100" />
			<property name="maxWait" value="1000" />
			<property name="poolPreparedStatements" value="true" />
			<property name="defaultAutoCommit" value="true" />
		</bean>
	</beans>
	
	<beans profile="test"> 
		<context:property-placeholder location="classpath:properties/test/application.properties"/>
		<bean id="commonUtils" class="com.deodio.elearning.utils.CommonUtils">
			<property name="appPropsPath" value="properties/test/application.properties" />
		</bean>	
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="plugins" ref="paginationInterceptor"/>
	    </bean>
	    
	    	   
	    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	        <property name="basePackage" value="com.deodio.elearning.persistence.mapper,com.deodio.elearning.persistence.customize.mapper"/>
		</bean>
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxActive" value="100" />
			<property name="maxWait" value="1000" />
			<property name="poolPreparedStatements" value="true" />
			<property name="defaultAutoCommit" value="true" />
		</bean>
	</beans>
	
	<beans profile="uat"> 
		<context:property-placeholder location="classpath:properties/uat/application.properties"/>
		<bean id="commonUtils" class="com.deodio.elearning.utils.CommonUtils">
			<property name="appPropsPath" value="properties/uat/application.properties" />
		</bean>	
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="plugins" ref="paginationInterceptor"/>
	    </bean>
	    
	    	   
	    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	        <property name="basePackage" value="com.deodio.elearning.persistence.mapper,com.deodio.elearning.persistence.customize.mapper"/>
		</bean>
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxActive" value="100" />
			<property name="maxWait" value="1000" />
			<property name="poolPreparedStatements" value="true" />
			<property name="defaultAutoCommit" value="true" />
		</bean>
	</beans>
	
	<beans profile="prd"> 
		<context:property-placeholder location="classpath:properties/prd/application.properties"/>
		<bean id="commonUtils" class="com.deodio.elearning.utils.CommonUtils">
			<property name="appPropsPath" value="properties/prd/application.properties" />
		</bean>	
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="dataSource"/>
	        <property name="plugins" ref="paginationInterceptor"/>
	    </bean>
	    
	    	   
	    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	        <property name="basePackage" value="com.deodio.elearning.persistence.mapper,com.deodio.elearning.persistence.customize.mapper"/>
		</bean>
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxActive" value="100" />
			<property name="maxWait" value="1000" />
			<property name="poolPreparedStatements" value="true" />
			<property name="defaultAutoCommit" value="true" />
		</bean>
	</beans>
	
	
</beans>
