body{background-color: #f3f3f3;}
.g_left{width:240px;position:relative;float: left;}
.g_right{margin-left:240px;background:#fff;padding:20px;border-radius:0 3px 3px 0;min-height: 530px;}
.g_right .r_title{height:40px; border:1px solid #cf6943;border-radius: 2px;font-size:18px;text-indent: 1em;display: block;line-height:40px;color: #fff;}
.g_right .r_title_bg1{background:#f97e37 url('../../../img/group/r_title_bg1.png') right top no-repeat;}
.g_right .r_title_bg2{background:#f97e37 url('../../../img/group/r_title_bg2.png') right top no-repeat;}
.g_right .r_title_bg3{background:#f97e37 url('../../../img/group/r_title_bg3.png') right top no-repeat;}
.g_right .r_title_bg4{background:#f97e37 url('../../../img/group/r_title_bg4.png') right top no-repeat;}
.g_right .r_title_bg5{background:#f97e37 url('../../../img/group/r_title_bg5.png') right top no-repeat;}
.g_right .r_title_bg6{background:#f97e37 url('../../../img/group/r_title_bg6.png') right top no-repeat;}
.g_right .r_title_bg7{background:#f97e37 url('../../../img/group/r_title_bg7.png') right top no-repeat;}
.g_right .r_title_bg8{background:#f97e37 url('../../../img/group/r_title_bg8.png') right top no-repeat;}


.form-inline{padding-left:100px;overflow: hidden;}
.form-group{margin-top: 20px; position: relative; width: 100%; }
.form-group .input-title{width: 160px; height: 40px; display: inline-block; line-height: 40px; border-right: 2px solid #949faa; padding-left: 46px; position: relative; vertical-align: middle; float: left;}
.form-group .input-title .input-title-span{position: absolute; left: 25px; color: #ff0000; } 
.form-group .form-control{width: 250px; height: 40px; border: 1px solid #e3e3e3 !important; display: inline-block;}
.form-group .form-group-description{float:left; top: 0; margin-left: 10px; line-height: 40px; width: 400px; color: #606e77;font-size: 12px; }
.form_line{height: 5px;font-size: 1px;overflow: hidden;background: #f7f7f7;margin:40px 100px 20px 0;}


.sex,.system-set{display: inline-block; margin-left: 10px; }
.sex{margin-top: 6px;}
.system-set{vertical-align: top; color: #44555f;}
.img{border: 1px solid #e3e3e3; width: 160px; height: 90px; float: left; overflow: hidden; }
.user-item{height: 100px; position: relative; display: inline-block; vertical-align: top;margin-left: 5px; }
.user-buttons{float: left; margin-left: 5px; }
.user-buttons span{margin-bottom: 35px; }
.user-card,.certify,.up_del{height: 32px; padding: 0 15px; color: #fff; }
.user-card{background-color: #69c9ec;}
.certify{background-color: #b1cd5c;}
.up_del{background-color: #ee625d;}
.update-bar{width:293px; height: 6px; bottom: 0; position: absolute; background-color: #dadada; overflow: hidden; }
.update-bar .bar{width: 60%; height: 6px; background: #12aece; }
.checkbox-item{margin-bottom:15px;}
.btn_box{text-align:center;padding:20px 0 40px 0;}



.g_l_tab{padding:10px;}
.g_l_tab li{height: 44px;line-height: 44px;margin-bottom: 4px;font-size: 16px;text-align: center;margin-right: 22px;position: relative;}
.g_l_tab li a{background: #f3f3f3;color: #939393;display: block;border-radius:2px 0 0 2px;}
.g_l_tab li a.on{background: #f97e37;color: #fff;}
.g_l_tab li a span{width:44px;height: 44px;background: url('../../../img/group/l_tab_iocn.png') no-repeat;position: absolute;right:-22px;top:0;}

.g_l_tab li.icon1 a span{background-position: 0 0;}
.g_l_tab li.icon1 a.on span{background-position:0 -44px;}
.g_l_tab li.icon2 a span{background-position: 0 -88px;}
.g_l_tab li.icon2 a.on span{background-position:0 -132px;}
.g_l_tab li.icon3 a span{background-position: 0 -176px;}
.g_l_tab li.icon3 a.on span{background-position:0 -220px;}
.g_l_tab li.icon4 a span{background-position: 0 -264px;}
.g_l_tab li.icon4 a.on span{background-position:0 -308px;}
.g_l_tab li.icon5 a span{background-position: 0 -352px;}
.g_l_tab li.icon5 a.on span{background-position:0 -396px;}
.g_l_tab li.icon6 a span{background-position: 0 -440px;}
.g_l_tab li.icon6 a.on span{background-position:0 -484px;}
.g_l_tab li.icon7 a span{background-position: 0 -528px;}
.g_l_tab li.icon7 a.on span{background-position:0 -572px;}
.g_l_tab li.icon8 a span{background-position: 0 -616px;}
.g_l_tab li.icon8 a.on span{background-position:0 -660px;}
.g_l_tab li.icon9 a span{background-position: 0 -704px;}
.g_l_tab li.icon9 a.on span{background-position:0 -748px;}

/*灏忕粍鏉冮檺*/
.des_text{color: #888;font-size: 12px;padding:25px;}
.mdl{vertical-align:middle;}
.table.g3 th, .table.g3 td{text-align: left;padding-left: 50px;}

/*灏忕粍璇剧▼*/
.top_btn{overflow: hidden;padding:20px 0 0;}
.gfl{float: left;}
.gfr{float: right;height: 40px;}
.btn2{width: 130px;height: 36px;color: #fff;background:#5cb85c url('../../../img/group/btn_add_bg.png') 8px 6px no-repeat;padding-left:35px;font-size: 14px;}

.tag-2{width: 70px; height: 28px; border: 1px solid #d1c0a5 !important; background-color: #ffe0b2 !important; }
.course-table{width: 100%; margin-top: 20px; }
.progress{width: 200px; height: 16px; border-radius: 50px; background-color: #d4d4d4; vertical-align: text-bottom; display: inline-block; margin: 0; }
.progress-bar{background-color: #f06159; position: relative; }
.sr-only{color: #fff; width: 120px; height: 16px; clip: auto; margin: 0; line-height: 16px; left: 0; }
.star1,.star2,.star3,.star4,.star5{margin-top: -5px;width:102px;height: 17px;background: url('../../../img/group/star.png') no-repeat;display: inline-block;vertical-align: middle;}
.star1{background-position: 0 0;}
.star2{background-position: 0 -17px;}
.star3{background-position: 0 -34px;}
.star4{background-position: 0 -51px;}
.star5{background-position: 0 -68px;}
.icon_btn1,.icon_btn2{width: 24px;height: 24px;background: url('../../../img/group/icon_btn.png') no-repeat;display: inline-block;vertical-align: middle;margin:0 4px;}
.icon_btn2{background-position: 0 -24px;}



ul.course-list li:hover{ border: 1px solid #38a6b8; box-shadow: 4px 4px #eaeaea }
ul.course-list li img{transition:all 1s ease 0s;}
ul.course-list li:hover img{filter:brightness(0.5);transform:scale(1.05);}
ul.course-list li{background: #fff none repeat scroll 0 0 !important;border: 1px solid #e1eaee;border-radius: 3px !important;margin-bottom: 20px;margin-top: 20px !important;overflow: hidden;padding: 6px !important;width: 31% !important;float: left;margin-right:20px;min-height: 360px;}
ul.course-list li:nth-of-type(3n+0) {margin-right:0px;}

ul.course-list li .course-title-img{width: 278px; height: 158px; border: 1px solid #d4d4d4; overflow: hidden; display: inline-block; float: left; }
ul.course-list li .course-text{float: left; width:100% !important; padding: 0 5px !important;position: relative; }
ul.course-list li .course-text dt{text-align:right;width:70px;font-size:12px;vertical-align: top;}
ul.course-list li .course-text dd{color: #6f6f6f;font-size:12px;}
ul.course-list li .course-text dt, ul.course-list li .course-text dd, ul.course-list li .course-text dl {display: inline-block;}
ul.course-list li .course-text .wid-100 .detail50{width:50%;float:left;font-size:12px;height: 25px;}
ul.course-list li .course-text title{display: block; font-size: 20px; }
ul.course-list li .course-text p{line-height: 24px; color: #999; margin: 5px 0; font-size: 14px;}
ul.course-list li .course-text>div {margin-top: 10px; }
.teacher-name-color{color: #2f71b6; }
ul.course-list li .pull-right{width: 163px; padding: 20px 0; }
ul.course-list li .pull-right>div {margin-top: 10px; }
ul.course-list li .pull-right h6{vertical-align: middle; line-height: 16px; margin-left: 6px; }
ul.course-list li .pull-right button{background-color: rgba(0, 0, 0, 0); }
.neirong-bottom {border-top: 1px solid #f3f3f3;margin-top: 60px !important;padding: 10px;text-align: right;}
.number_tips{width:20px;height:20px;border-radius: 50%;background-color:#e5534b;color:#fff;text-align:center;margin-left: 30px;margin-top: -30px;}

.c666{color: #666;}
.f14{font-size: 14px;}
.end_time{display: inline-block;float: right;}
.time_border{width: 90px;height: 28px;line-height: 28px;color: #888;border:1px solid #ddd;text-align: center;border-radius:2px;background: #fff;}
.icon_btn36_1,.icon_btn36_2{width: 36px;height: 36px;background: url('../../../img/group/icon_btn36.png') no-repeat;display: inline-block;vertical-align: middle;margin:0 4px;}
.icon_btn36_2{background-position: 0 -36px;}
.r_top_btn{position: absolute;top:-20px;right:0;}

/*灏忕粍鎴愬憳*/
.g_table1{margin-top: 30px;}
.g_table1 dt,.g_table1 dd{line-height: 50px;border-bottom: 1px solid #d8dfe2;height: 50px;}
.g_table1 dt{padding-right: 30px;text-align: right;width: 200px;font-size: 16px;font-weight: bold;float: left;background: #f8fafb;}
.g_table1 dd{text-indent: 30px;display:block;}
.g_table1 dd .select1{line-height: 38px;margin-top: 5px;margin-left: 30px;}
.table th.w65{width: 65%;}
.table tr td.tleft{text-align: left;text-indent: 1em;}
.cy_tab{margin-top: 20px;font-size: 0;}
.cy_tab li{display: inline-block;font-size: 14px;text-align: center;line-height: 38px;margin-right: 5px;position: relative;}
.cy_tab li:first-child{margin-left: 20px;}
.cy_tab li a{color: #fff;background: #64bfe0 url('../../../img/group/tab_r_bg2.png') right top no-repeat;display: block;padding:0 50px;border-radius:2px 2px 0 0;}
.cy_tab li a.on{background: #f97e37 url('../../../img/group/tab_r_bg2.png') right top no-repeat;}
.cy_tab li span{width: 30px;height: 15px;position:absolute;right:0;top:5px;font-size: 10px;line-height: 10px;font-family: tahoma;color:#fff;}
.cy_tab_box{border-top:1px solid #dedede;border-radius:2px;padding:20px;}
.cy_date_r{display: inline-block;border:1px solid #e3e3e3;color:#c0c0c0;font-size: 14px;border-radius:2px;line-height: 32px;padding-left:12px;}
.cy_date_r a{display: inline-block;float: right;height: 32px;width: 32px;background: #f9f9f9 url('../../../img/group/date_icon.png') center center no-repeat;border-left:1px solid #e3e3e3;margin-left:12px;}
.lh28{line-height: 28px;}

.tarea_1{border:1px solid #cdd5d9;border-radius:4px;padding:20px;width:99%;height: 60px;}
.yq_title{width:80px;}
.form-group .yq_title_input{border:1px solid #cdd5d9 !important;display: block; width: 100%; height: 40px; padding: 6px 12px; line-height: 1.42857143; color: #555;border-radius: 3px;}

/*閭�鍔犲叆*/
.jr_l_box{border:1px solid #e6ebf1;background: #f9fbfb;width:718px;border-radius:2px;padding:20px;}
.jr_l_box .timu{border:1px solid #cdd5d9;border-radius:4px;}
.jr_l_box .timu h3{height: 40px;line-height: 40px;background: #d8dfe2;font-size: 14px;text-indent:1em;display: block;border-radius:4px 4px 0 0;}
.jr_l_box .timu h3.edit{background: #fff;border-bottom:1px solid #cdd5d9;}
.jr_l_box .timu h3.edit input{width:400px;height:38px;border:0;border-radius:4px !important;}
.jr_l_box .timu h3 .del_icon{width:32px;height:32px;background:url('../../../img/group/icon32.png') no-repeat;margin:4px 10px;}
.jr_r_box{border:1px solid #cdd5d9;padding:20px;border-radius:2px;width:180px;}
.jr_l_box .timu .ti{padding:10px 0 10px 70px;overflow: hidden;}
.jr_l_box .timu .ti_input_w{width:250px;}
.btn_del_18,.btn_add_18{width:18px;height:18px;background:url('../../../img/group/icon_btn_18.png') no-repeat;}
.btn_add_18{background-position: 0 -18px;}

/*灏忕粍绠�粙*/
.jj_bjq{margin-left:5px;border:1px solid #d4d4d4;width:593px;}
.form-group .group_title{width:593px !important;margin-left:5px;float:left;}
.c888{color: #888;}
.group_r_box{padding:0 20px 20px 20px;border-left:1px solid #d4d4d4;float: right;width:200px;}
.group_r_box ul{overflow: hidden;}
.group_r_box ul li{width: 32px;height:32px;padding:0;float:left;margin:15px 0 0 15px;}
.group_r_box ul li .icon32_1,.group_r_box ul li .icon32_1_o,.group_r_box ul li .icon32_2,.group_r_box ul li .icon32_2_o,.group_r_box ul li .icon32_3,.group_r_box ul li .icon32_3_o,.group_r_box ul li .icon32_4,.group_r_box ul li .icon32_4_o,.group_r_box ul li .icon32_5,.group_r_box ul li .icon32_5_o{width: 32px;height: 32px;background:url('../../../img/group/icon32.png') no-repeat;}
.group_r_box ul li .icon32_1_o{background-position:0 -32px;}
.group_r_box ul li .icon32_2{background-position:0 -64px;}
.group_r_box ul li .icon32_2_o{background-position:0 -96px;}
.group_r_box ul li .icon32_3{background-position:0 -128px;}
.group_r_box ul li .icon32_3_o{background-position:0 -160px;}
.group_r_box ul li .icon32_4{background-position:0 -192px;}
.group_r_box ul li .icon32_4_o{background-position:0 -224px;}
.group_r_box ul li .icon32_5{background-position:0 -256px;}
.group_r_box ul li .icon32_5_o{background-position:0 -288px;}
.group_list li.bgon{width: 930px;}
.group_list li .course-title-img{width: 278px; height: 158px; border: 1px solid #d4d4d4; overflow: hidden; display: inline-block; float: left; }
.group_list li .course-text{float: left; padding: 0 20px;position: relative; }
.group_list li .course-text title{display: block; font-size: 12px; }
.group_list li .course-text p{line-height: 24px; color: #999; margin: 5px 0; font-size: 12px;}
.group_list li .course-text>div {margin-top: 10px; }
.table-list_icon{height: 32px;}
.table-list_icon li{display: inline-block;padding:0 2px;width:32px;height:32px;}
.table-list_icon li .icon32_1,.table-list_icon li .icon32_1_o,.table-list_icon li .icon32_2,.table-list_icon li .icon32_2_o,.table-list_icon li .icon32_3,.table-list_icon li .icon32_3_o,.table-list_icon li .icon32_4,.table-list_icon li .icon32_4_o,.table-list_icon li .icon32_5,.table-list_icon li .icon32_5_o{width: 32px;height: 32px;background:url('../../../img/group/icon32.png') no-repeat;}
.table-list_icon li .icon32_1_o{background-position:0 -32px;}
.table-list_icon li .icon32_2{background-position:0 -64px;}
.table-list_icon li .icon32_2_o{background-position:0 -96px;}
.table-list_icon li .icon32_3{background-position:0 -128px;}
.table-list_icon li .icon32_3_o{background-position:0 -160px;}
.table-list_icon li .icon32_4{background-position:0 -192px;}
.table-list_icon li .icon32_4_o{background-position:0 -224px;}
.table-list_icon li .icon32_5{background-position:0 -256px;}
.table-list_icon li .icon32_5_o{background-position:0 -288px;}
table.table_ln32 tr td{line-height: 32px;}
table.table_ln32 tr.on{background: #e1ebf0;border:1px solid #70cad8;}
.search_btn_icon{width: 36px;height: 36px;background:url('../../../img/group/search_icon.png') no-repeat;}
.g_date{border:1px solid #d4d4d4;height: 36px;line-height: 36px;padding-left:5px;color:#6f6f6f;font-size: 14px;width:120px;border-radius:2px;text-align: left;}
.g_date .date_btn{width:28px;height:28px;float:right;background:url('../../../img/group/date_icon_28.png') no-repeat;margin:3px 3px 0 0;border: 0 solid #ccc;}
.date_line{width:44px;height: 36px;background:url('../../../img/group/date_line.png') center center no-repeat;display: inline-block;}




.hdn{overflow: hidden;}
.clb{clear: both;}
.pt7{padding-top: 7px;}
.w240 .form-control{border:1px solid #d4d4d4 !important;}
/*鎸夐挳鏍峰紡*/
.btn_size{height: 36px;line-height: 36px;font-size: 12px;padding:0 25px;}
.btn_bg_g{color: #fff; background-color: #9bbd32; border-color: #8fb029;}/*缁胯壊鎸夐挳*/
.btn_bg_g:hover {color: #fff; background-color: #83a320; border-color: #398439; }
.btn_bg_g:active{color: #fff; background-color: #789719; border-color: #398439; }
.btn_bg_y{color: #fff; background-color: #faa83e; border-color: #ee9e36;}/*榛勮壊鎸夐挳*/
.btn_bg_y:hover {color: #fff; background-color: #e89831; border-color: #ee9e36; }
.btn_bg_y:active{color: #fff; background-color: #d98b26; border-color: #ee9e36; }
.btn_bg_r{color: #fff; background-color: #f06159; border-color: #e5534b;}/*绾㈣壊鎸夐挳*/
.btn_bg_r:hover {color: #fff; background-color: #e3544c; border-color: #ee9e36; }
.btn_bg_r:active{color: #fff; background-color: #d3443c; border-color: #ee9e36; }
.c_929292{color: #929292;}
.btn_act{font-size:14px;background: #ffe0b2;padding:3px 10px;border:1px solid #d1c0a5 !important;}
.table tr td a{color: #3c9df3;}

.g_right .title1{border-bottom: 2px solid #d8dfe2;}
.g_right .title1 h4{height:32px;line-height:32px;}
.g_right .text_c{color:#b5b5b5;}
.g_right .dengji{font-size:0;}
.g_right .dj_box{width:154px;height:106px;border-radius:4px;display:inline-block;font-size:14px;margin-right:9px;vertical-align: top;}
.g_right .dj_box:last-child{margin-right:0;}
.g_right .dj_box h3{height:30px;line-height:30px;text-align: center;color:#fff;margin:0 5px;border-bottom: 1px solid #fff;display: block;}
.g_right .dj_box p{height:46px;font-size:12px;color:#fff;margin:5px;line-height: 13px;}
.g_right .dj_box div{height: 20px;border-radius:0 0 5px 5px;text-align: right;}
.g_right .dj_box div span{color:#fff;margin:2px 0 0 0;}
.g_right .bg_c1{background:#46c37b;}
.g_right .bg_c1 div{background: #3faf6e;}
.g_right .bg_c2{background:#71c0e9;}
.g_right .bg_c2 div{background: #65acd1;}
.g_right .bg_c3{background:#43b4c6;}
.g_right .bg_c3 div{background: #3ca2b2;}
.g_right .bg_c4{background:#f97e37;}
.g_right .bg_c4 div{background: #e07131;}
.g_right .bg_c5{background:#f06159;}
.g_right .bg_c5 div{background: #d85750;}
.g_right .dj_table{width:100%;}
.g_right .dj_table thead tr th{background: #e1eaee;height: 46px;line-height:46px;}
.g_right .dj_table thead tr th.bg1,.g_right .dj_table tbody tr td.bg1{width:86px;background: #fbfbfb;}
.g_right .dj_table thead tr th.bg2,.g_right .dj_table tbody tr td.bg2{width:86px;background: #f4f4f4;}
.g_right .dj_table thead tr th.bg3,.g_right .dj_table tbody tr td.bg3{width:86px;background: #e5ebee;}
.g_right .dj_table thead tr th.bg4,.g_right .dj_table tbody tr td.bg4{width:86px;background: #dae5e9;}
.g_right .dj_table thead tr th.bg5,.g_right .dj_table tbody tr td.bg5{width:86px;background: #cddbe1;}
.g_right .dj_table tbody tr{border-top:1px solid #fff;background: #f8fafb;}
.g_right .dj_table tbody tr:nth-child(2n+1){background: #fff;}
.g_right .dj_table tbody tr td{height:40px;}
.g_right .dj_table tbody tr td span{width:84px;height:30px;text-align:center;color:#fff;border-radius: 3px;line-height: 30px;}
.g_right .dj_table tbody tr td span.d01{background: #46c37b;}
.g_right .dj_table tbody tr td span.d02{background: #71c0e9;}
.g_right .dj_table tbody tr td span.d03{background: #43b4c6;}
.g_right .dj_table tbody tr td span.d04{background: #f97e37;}
.g_right .dj_table tbody tr td span.d05{background: #f06159;}
.g_right .dj_table tbody tr td{vertical-align: top;padding:5px;}
.g_right .dj_table tbody tr td .input_box{border: 0;font-size: 12px;overflow: hidden;width: 100%; word-break: break-all;}
.g_right .dj_table tbody tr td .input_box textarea{border:0;width:100%;line-height: 26px;}
.g_right .dj_table tbody tr td .text{line-height:18px;font-size: 12px;color: #000;height: 100%;text-align: left;width: 100%;}
.g_right .dj_table tbody tr td.vmdl{vertical-align:middle;border-right:1px solid #b4c9d3;}
.g_right .dj_table thead tr th.w138{width:138px;}

.g_right .nl_table{width:100%;}
.g_right .nl_table thead tr th{background: #e1eaee;height: 46px;line-height:46px;}
.g_right .nl_table thead tr th.w138{width:138px;}
.g_right .nl_table tbody tr td{vertical-align: top;padding:5px;}
.g_right .nl_table tbody tr td .input_box{border:1px solid #d4d4d4;height:100%;border-radius:3px;box-shadow:-1px -1px 0 #a6a6a6;}
.g_right .nl_table tbody tr td .input_box textarea{border:0;width:100%;height:100%;line-height: 26px;}
.g_right .nl_table tbody tr td .text{line-height:18px;font-size: 12px;padding:0 5px;}
.g_right .nl_table tbody tr td.vmdl{vertical-align:middle;border-right:1px solid #b4c9d3;}
.g_right .nl_table tbody tr.bg1{background: #fbfbfb;}
.g_right .nl_table tbody tr.bg2{background: #f4f4f4;}
.g_right .nl_table tbody tr.bg3{background: #e5ebee;}
.g_right .nl_table tbody tr.bg4{background: #dae5e9;}
.g_right .nl_table tbody tr.bg5{background: #cddbe1;}

.sel_del {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;color: #fff;float: right;font-size: 14px;height: 30px;text-align: center;width: 20px;}

.table_fix { width: 100%; table-layout: fixed; }

.cy_tab_box  dl{width:100%;height: 30px;}
.cy_tab_box  dt{float: left;font-size: 14px;text-align: right;width: 70px;}
.cy_tab_box  dd{color: #888; float: left;font-size: 12px;width: 400px;padding-left:10px;}

.g_tool_bar{padding: 15px 10px 5px 30px; margin-left: -30px; margin-right: -10px; background: rgb(248, 250, 251) none repeat scroll 0px 0px; border: 1px solid rgb(205, 213, 217); height: 66px; position: relative;}
.g_con_corner{background: rgba(0, 0, 0, 0) url("../../../img/corner.png") no-repeat scroll 0 0;float: left;height: 9px;position: relative;width: 9px;left:-30px;}

.g_tool_bar .gst{margin-left: -20px;margin-right: 20px; background: #43b4c6 none repeat scroll 0% 0%; width: 164px; margin-top: -0px; border-radius: 50px; margin-left: 0px; padding: 2px; border-right-width: 1px; height: 34px;}
.g_tool_bar .gst span{color:#fff;}
ul.group-subscribes li{width:24% !important;margin-left:10px !important;margin-right:0px !important;min-height: 0 !important;}
ul.group-subscribes li .course-title-img{width:275px !important;}