.header{
	height: 167px;
	background-image: url(../../../img/header-img-4.jpg);
}

.header .logo{
	margin: 60px auto 0;
}
.nav .nav-ul{
	width: 580px;
	height: 46px;
	margin: 0 auto;
}
.nav .nav-ul li{
	width: 193px;
	height: 46px;
	background: #03a9f4;
	float: left;
	color: #fff;
	position: relative;
}
.nav .nav-ul li.on{
	background: #fff;
}
.nav .nav-ul li .hang-pic{
	width: 45px;
	height: 46px;
	position: absolute;
	background: url(../../../img/icon.png) no-repeat -324px -185px;
	right: -23px;
	z-index: 999;
}
.nav .nav-ul li label{
	width: 36px;
	height: 46px;
	line-height: 46px;
	white-space: pre;
	margin-left: 34px;
	font-size: 18px;
	padding-left: 45px;
}

.content h6{
	width: 100%;
	text-align: center;
	color: #888;
	font-size: 16px;
	line-height: 80px;
	display: block;
}
.content .tab-item{
	margin-top: 0px;
}

.content .tab-item ul li .tab-detail .box-size .input-group>button{
	background: #3f8dcf;
	width: 166px;
	color: #fff;
}

.content .tab-item ul li .tab-detail{
	background: #c4e6f5;
}
.form-inline button{
	width: 130px;
}
.form-inline button.next{
	background: #3f8dcf;
}
.form-inline button.cancel,.form-inline button.back{
	background: #d1d5dc;
}



.form-inline .form-group .input-title{
	width: 160px;
	line-height: 40px;
	border-right: 2px solid #949faa;
	padding-left: 46px;
}

.form-inline .form-group .form-control{
	width: 250px;
	vertical-align: top;
	border: 1px solid #a5aeb5 !important;
}

.content .tab-item ul li a.a-color{
	background: #ebf4f7;
	color: #4b5f74;
}

.content .tab-item ul li a.on{
	background-color: #c4e6f5;
}
.right-item{
	box-shadow: none;
}
