
.header{
	width: 100%;
	overflow: hidden;
	background-position: center center;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}
.header .logo{
	width: 300px;
	height: 53px;
	background: url(../img/icon.png) no-repeat -2px -182px;
	display: block;
	margin: 146px auto 0;
}

.footer{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	text-align: center;
	z-index: 999;
}
.footer.position-bottom{
	position: absolute;
	bottom: 0;
}
.footer.margin-top{
	margin-top: 50px;
}
.content{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	height: auto;
}
.box-size{
	width: 350px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
}

.btn{
	height: 40px;
	font-size: 18px;
	color: white;
}
.nav{
	width: 100%;
	height: 46px;
	font-size: 20px;
	line-height: 46px;
	
}



/*--------------------------------tab-item-------------------------------*/


.content .tab-item{
	width: 640px;
	height: 295px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}
.content .tab-item ul{
	width: 200px;
}
.content .tab-item ul li{
	margin-top: 2px;
	position: relative;
}
.content .tab-item ul li>a{
	width: 200px;
	height: 118px;
	display: block;
	border-radius: 5px 0 0 5px;
}
.content .tab-item ul li>a span{
	margin-left: 20px;
	vertical-align: middle;
}
.content .tab-item ul li>a b{
	font-size: 24px;
	line-height: 118px;
	margin-left: 10px;
	vertical-align: middle;
}
.content .tab-item ul li .tab-detail{
	width: 440px;
	height: 295px;
	border-radius: 0 5px 5px 0;
	background: rgba(255,255,255,0.2);
	position: absolute;
	left: 200px;
	top: 0;
}
.content .tab-item ul li .tab-detail .box-size .font-size-color{
	font-size: 18px;
}
.content .tab-item ul li .tab-detail .box-size .input-group>button{
	color: #6f4f36;
	background: #f6b37f;
}
.sex{
	display: inline-block;
}














