body{background-color: #f3f3f3; }

.content .content-item{border: 1px solid #cdd5d9; padding: 20px; background-color: white; }
.content .content-item>title{display: block; width: 100%; line-height: 42px; color: #fff; border: 1px solid #cf6943; background-image: url(../img/title-bg-1.png); background-color: rgba(249,126,55,0.9); background-position: right; background-repeat: no-repeat; padding-left: 10px; font-size: 18px; }
.form-inline:last-child{text-align: center; border: none; }

a.nav-list-btn{display:inline-block;padding:10px 20px;border:1px solid #fff;border-radius:2px;color:#000;font-size:14px}
a.nav-list-btn.on{border:1px solid #d47855;background:#fa8b4b;color:#fff}
.control-bar{height:36px;text-align:right}
.control-bar .pic-item,.control-bar .table-item{display:inline-block;padding:4px;width:34px;height:34px;border:1px solid #dcdcdc}
.control-bar>a.on{background:#d4d4d4}
.control-bar .table-item>div{margin:4px 0 0 2px;width:20px;height:2px;background:#999}
.control-bar .pic-item>div{float:left;margin:2px;width:8px;height:8px;background:#f06159}

.neirong-bottom {border-top: 1px solid #f3f3f3;float: left;height: 50px;padding: 10px;position: relative;text-align: right;width: 100%;}
.top_btn{height: 60px; }
ul.course-list{}
ul.course-list li:hover{ border: 1px solid #38a6b8 !important; box-shadow: 4px 4px #eaeaea }
ul.course-list li img{transition:all 1s ease 0s;}
ul.course-list li:hover img{filter:brightness(0.5);transform:scale(1.05);}
ul.course-list li{background: #fff none repeat scroll 0 0 !important;border: 1px solid #ebebeb !important;border-radius: 3px !important;float: left;margin-bottom: 20px;margin-right: 20px;margin-top: 20px !important;min-height: 360px;overflow: hidden;padding: 6px !important;width: 31% !important;}
ul.course-list li:nth-of-type(3n+0) {margin-right:0px;}

ul.course-list li .course-title-img{float:left;display:inline-block;overflow:hidden;width:278px;height:158px;border:1px solid #d4d4d4}
ul.course-list li .course-text{float: left; width:100% !important; padding: 0 5px !important;position: relative; }
ul.course-list li .course-text title{display:block;font-size:20px}
ul.course-list li .course-text p{margin:5px 0;color:#999;line-height:24px}
ul.course-list li .course-text>div{margin-top:10px}
ul.course-list li .course-text dt{text-align:right;width:70px;float:left;font-size:12px;}
ul.course-list li .course-text dd{color: #6f6f6f;float:left;width:198px;font-size:12px;}
ul.course-list li .course-text dt, ul.course-list li .course-text dd, ul.course-list li .course-text dl {display: inline-block;}
ul.course-list li .course-text .wid-100 .detail50{width:50%;float:left;font-size:12px;height: 25px;}
ul.course-list li .course-text .wid-100 .detail100{width:100%;float:left;font-size:12px;height: 25px;}

.teacher-name-color{color:#2f71b6}
.progress{display:inline-block;margin:0;width:100px;height:10px !important;border-radius:50px;background-color:#d4d4d4;vertical-align:text-bottom;margin-bottom:0 !important;}
.progress-bar{position:relative;background-color:#f06159}
.sr-only{left:0;clip:auto;margin:0;width:120px;height:16px;color:#fff;line-height:16px}
ul.course-list li .pull-right{padding:20px 0;width:163px}
ul.course-list li .pull-right>div{margin-top:10px}
ul.course-list li .pull-right h6{margin-left:6px;vertical-align:middle;line-height:16px}
ul.course-list li .pull-right button{background-color:transparent}
.tag-2{width:70px;height:28px;border:1px solid #d1c0a5!important;background-color:#ffe0b2!important}
.course-table{margin-top:20px;width:100%}

.form-group .form-group-description{float:left; top: 0; margin-left: 10px; line-height: 40px; width: 400px; color: #606e77;font-size: 12px; }

.form-inline{width:900px;padding:36px 0;border-bottom: 1px solid #e5e5e5;margin:0 auto}
.form-inline .form-group{margin-top:20px;position:relative;width:100%}
.form-inline .form-group .input-title{width:160px;height:40px;display:inline-block;line-height:40px;border-right:2px solid #949faa;padding-left:46px;position:relative;vertical-align:middle}
.form-inline .form-group .input-title .input-title-span{position:absolute;left:25px;color:red}
.form-inline .form-group .form-control{width:250px;height:40px;border:1px solid #e3e3e3!important}
.form-inline .form-group .form-group-description{position:absolute;top:0;left:425px;line-height:40px;width:400px;color:#44555f}
.form-group select{width:79px;display:inline-block;height:40px;background:#fff;border:0}
.sex,.system-set{display:inline-block;margin-left:10px}
.system-set{vertical-align:top;color:#44555f}
.img{border:1px solid #e3e3e3;
width:162px;height:92px;
float:left;overflow:hidden}
.user-item{height:100px;position:relative;display:inline-block;vertical-align:top}
.user-buttons{float:left;margin-left:5px}
.user-buttons span{margin-bottom:35px}
.certify,.user-card{height:34px;padding:0 15px;color:#fff}
.certify-inner-button{position: absolute;margin-top: -37px;float: right;margin-left: 232px;}
.user-card{background-color:#69c9ec}
.certify{background-color:#b1cd5c}
.update-bar{width:340px;height:6px;bottom:0;position:absolute;background-color:#dadada;overflow:hidden}
.update-bar .bar{width:60%;height:6px;background:#12aece}

.capability_table .capability_table_content{background: #f6f7f8 none repeat scroll 0 0 !important;}
.capability_table .capability_table_content .ti{height: 36px;margin-bottom: 10px;}

.radio-item{display: block !important;width: 245px !important;}

.layout-content{width:100%;padding:30px 0;overflow:hidden}
.layout-content .left-part{width:20%;padding-right:20px;border-right:2px solid #f7f7f7;float:left}
.layout-content .left-part .list-item{padding:20px 0;border-bottom:2px solid #f7f7f7;width:220px}
.layout-content .left-part .list-item:last-child{border:0}
.layout-content .left-part .list-item:first-child{padding-top:0}
.layout-content .left-part .list-item a{display:inline-block;border:3px solid #f3f1f1;border-radius:2px}
.layout-content .left-part .list-item a.on{border:3px solid #eb6100}
.layout-content .left-part .list-item .realm{width:100%;line-height:28px;height:32px;background-color:#f3f1f1;color:#333}
.layout-content .right-part{width:80%;padding-left:20px;float:right}
.layout-content .right-part>title{color:#44555f;background:#f9f9f9;width:100%;display:block;line-height:36px;padding-left:20px}
.layout-content .right-part .form-inline{margin:20px 0}
.layout-content .right-part>.form-inline .form-control{border:1px solid #e3e3e3!important;width:400px;vertical-align:bottom}
.layout-content .right-part .image-area{width:100%;height:auto;margin-top:20px;overflow:hidden}
.layout-content .right-part .image-area .update-img{float:left}
.layout-content .right-part .image-area .update-item{width:360px;height:360px;background:#f2f2f5;position:relative;line-height:420px;text-align:center;font-size:12px;color:#8c8c8c}
.layout-content .right-part .image-area .update-item>h6{width:84px;height:24px;box-shadow:0 0 5px 1px #d9d9d9;background:#fff;line-height:24px;font-size:12px;text-align:center;position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-42px;cursor:pointer}
.update-item h6 span{color:#fa7d3c;font-weight:bolder}
.layout-content .right-part .image-area .layout-img-show{width:300px;height:360px;float:left;margin-left:50px}
.update{background:#69c9ec}
.delete{background:#a6c3cd}
.delete,.update{width:80px;height:32px}
.image-area ul li{width:194px;height:234px;float:left;margin-right:20px;margin-bottom:20px;border:3px solid #fff}
.image-area ul li.on{border:3px solid #e60012}


.checkbox-group label{background-position:-70px -5px}
.checkbox-group label.checked{background-position:-70px -28px}
.checkbox-group label.on{background-position:-70px -51px;cursor:not-allowed!important}
.choose-box{border-bottom:1px solid #eee;padding:20px}
input[type=text].sale-code{width:116px;height:32px;border:1px solid #b5b5b5!important;text-align:center}
.content .content-item{padding:20px 60px}
.sale-btn{width:312px;background:#b1cd5c;line-height:50px;display:block;font-size:18px;color:#fff}
.nav-pay-list{overflow:hidden}
.nav-pay-list>div{display:block;height:42px;width:243px;margin-left:20px;float:left;color:#555;text-align:left;line-height:42px;font-size:18px;padding-left:55px}
.nav-pay-list>div.on{color:#fff}
.nav-pay-list+p{padding:30px}
.pay-price-list{width:1056px;margin:0 auto;padding:30px 0;overflow:hidden}
.pay-price-list>div{width:176px;height:406px;margin-top:32px;float:left;padding:0 1px;border-radius:10px 10px 0 0}
.pay-price-list>div>div{width:100%;height:44px;background-color:#f3f3f3;text-align:center;line-height:44px;font-size:18px;border-bottom:1px solid #fff;color:#555}
.pay-price-list>div>div:nth-child(1){width:100%;height:182px;border-radius:10px 10px 0 0;line-height:182px;border:0;position:relative}
.pay-price-list>div>div:nth-child(odd){background-color:#e8e8e8}

/* .pay-price-list>div:nth-child(4){margin:0;height:458px;box-shadow:0 3px 20px 2px #0b402b;position:relative;z-index:999} */

.pay-price-list>div:nth-child(3){margin:0;height:458px;box-shadow:0 3px 20px 2px #0b402b;position:relative;z-index:999}

.pay-price-list>div>div:nth-child(1) button{width:138px;height:34px;line-height:34px;border-radius:4px!important;background:-webkit-gradient(linear,0 0,0 100%,from(#4b8b04),to(#2b6f07));background:-moz-linear-gradient(top,#4b8b04,#2b6f07);color:#fff;position:absolute;bottom:12px;left:50%;margin-left:-69px}
.pay-price-list>.pay-price-item:nth-child(2) div{background-color:#e3f0d2}
.pay-price-list>.pay-price-item:nth-child(2) div:nth-child(even){background-color:#cae1ad}

/* .pay-price-list>.pay-price-item:nth-child(3) div{background-color:#d8ecd0} */
/* .pay-price-list>.pay-price-item:nth-child(3) div:nth-child(even){background-color:#b1d7a6} */
/* .pay-price-list>.pay-price-item:nth-child(4) div{background-color:#d3e7de} */
/* .pay-price-list>.pay-price-item:nth-child(4) div:nth-child(even){background-color:#a8cebf} */
/* .pay-price-list>.pay-price-item:nth-child(4) div:nth-child(1){height:214px} */
/* .pay-price-list>.pay-price-item:nth-child(4) div:nth-child(1) button{line-height:45px;height:45px;font-size:20px} */
/* .pay-price-list>.pay-price-item:nth-child(4) div:nth-child(6){height:70px} */
/* .pay-price-list>.pay-price-item:nth-child(5) div{background-color:#d2e5e3} */
/* .pay-price-list>.pay-price-item:nth-child(5) div:nth-child(even){background-color:#a5cbd8} */
/* .pay-price-list>.pay-price-item:nth-child(6) div{background-color:#dbeefc} */
/* .pay-price-list>.pay-price-item:nth-child(6) div:nth-child(even){background-color:#b5ddf7} */

.pay-price-list>.pay-price-item:nth-child(3) div{background-color:#d3e7de}
.pay-price-list>.pay-price-item:nth-child(3) div:nth-child(even){background-color:#a8cebf}
.pay-price-list>.pay-price-item:nth-child(3) div:nth-child(1){height:214px}
.pay-price-list>.pay-price-item:nth-child(3) div:nth-child(1) button{line-height:45px;height:45px;font-size:20px}
.pay-price-list>.pay-price-item:nth-child(3) div:nth-child(6){height:70px}
.pay-price-list>.pay-price-item:nth-child(4) div{background-color:#d2e5e3}
.pay-price-list>.pay-price-item:nth-child(4) div:nth-child(even){background-color:#a5cbd8}
.pay-price-list>.pay-price-item:nth-child(5) div{background-color:#dbeefc}
.pay-price-list>.pay-price-item:nth-child(5) div:nth-child(even){background-color:#b5ddf7}


.pay-price-list>.pay-price-item>div>span{color:#629b1b}
.price-img{background-image:url('../../../img/account/price.png')}
.pay-step-1{background-position:-4px -5px}
.pay-step-2{background-position:-252px -5px}
.pay-step-3{background-position:-498px -5px}
.pay-step-1.on{background-position:-4px -53px}
.pay-step-2.on{background-position:-252px -53px}
.pay-step-3.on{background-position:-498px -53px}
.price-list-1{background-position:-4px -138px}
.price-list-2{background-position:-183px -138px}
.price-list-3{background-position:-362px -107px}
.price-list-4{background-position:-541px -138px}
.price-list-5{background-position:-720px -138px}
.paypal{background-position:-4px -336px}
.alipay{background-position:-77px -336px}
.visa{background-position:-150px -336px}
.visa-electron{background-position:-223px -336px}
.discover{background-position:-296px -336px}
.mastercard{background-position:-369px -336px}
.unionpay{background-position:-442px -336px}
h1.account-pay-title{display:block;background-color:#f9f9f9;line-height:36px;padding-left:40px;color:#44555f;margin-top:20px}
.form-inline .form-group .input-title{width:190px;font-size:12px;padding-left:30px}
.form-inline .form-group .input-title .input-title-span{left:13px}
.form-inline .form-group .form-group-description{left:545px}
.form-inline .form-group .form-group-description h1{display:inline-block;cursor:pointer;color:#0079e9}
.form-inline .form-group .form-group-description .cvv-tip{width:338px;height:240px;top:-100px;position:absolute;right:-32px;background-position:-551px -336px;display:none}
.form-inline .form-group .form-control{width:348px}
.nice-select{width:170px}
.pay-way{width:700px;vertical-align:top;display:inline-block;padding:8px 0}
.pay-way>div{margin-bottom:30px}
.radio-item .radio-group+div{width:150px;height:23px;border-radius:2px;margin-left:5px;margin-top:5px;}
.custom-radio{width:20px;height:20px;vertical-align:middle}
.payment-info{width:100%;height:225px;background:#f9f9f9;margin:20px 0;padding:20px 40px}
.payment-info table{width:100%}
h6{line-height:35px;font-size:18px}
h6+span{font-size:16px;color:#ABABAB}
.option-item{color:#44555f;margin-left:45px}
.payment-table td .icon-26-24{display:inline-block;cursor:not-allowed}
.payment-table td .icon-26-24.on{cursor:pointer}
.payment-date{padding:20px}
.payment-date title{display:block}

/*20161129��ҳ��*/
.mt10{margin-top: 10px;}
.mess_left{width:220px;background: #fff;border:1px solid #ebebeb;border-radius:4px;margin-left: 10px;}
.mess_left .user_pic{width:180px;height:180px;margin:20px auto;border-radius: 50%;}
.mess_left .user_pic .pic{width:180px;height:180px;border:2px solid #43b4c6;border-radius: 50%;}
.mess_left .user_pic .user_pic_edit{width:40px;height:20px;background: transparent;position:absolute;right:-8px;top:-8px;text-align: center;padding:0;}
.mess_left .user_pic .user_pic_edit span{width:6px;height:6px;border-radius:50%;display: inline-block;background: #43b4c6;margin:0 1px;}
.mess_left .user_pic .certification{width:24px;height:24px;position:absolute;right:30px;bottom:0;}
.mess_left .user_pic .certification img{width:24px;height:24px;border:0;}
.mess_left .left_menu{margin-top:40px;}
.mess_left .left_menu li{height:50px;line-height: 50px;}
.mess_left .left_menu li a{color:#666;text-indent: 50px;display: block;}
.mess_left .left_menu li a:hover{background:#fafafa;border-left:3px solid #43b4c6;text-indent:47px;}
.mess_left .left_menu li.active a{background:#fafafa;border-left:3px solid #43b4c6;text-indent:47px;}
.mess_left .left_menu li img{width: 20px;height: 20px;margin-top: -2px;margin-right: 10px;}


.mess_left .left_menu_normal{margin-top:40px;}
.mess_left .left_menu_normal li{height:50px;line-height: 50px;}
.mess_left .left_menu_normal li a{color:#666;text-indent: 50px;display: block;}
.mess_left .left_menu_normal li.active a{background:#fafafa;border-left:3px solid #43b4c6;text-indent:47px;}
.mess_left .left_menu_normal li img{width: 20px;height: 20px;margin-top: -2px;margin-right: 10px;}

.mess_left .left_menu_normal_2{margin-top:20px;}
.mess_left .left_menu_normal_2 li{min-height:35px;line-height:35px;background:#fafafa;border-left:3px solid #43b4c6;margin-bottom:5px;}
.mess_left .left_menu_normal_2 li dl{padding:15px;}


.mess_right{width:985px;margin-right:10px;background: #fff;border:1px solid #ebebeb;border-radius:4px;padding:20px;min-height:695px;}
.mess_right .form_bg{background: #f6f7f8;padding:30px 0;border-radius:4px;}
.mess_right .form_bg .form_list{position: relative;min-height: 445px;}
.mess_right .form_bg .form_list li{margin-top:20px;min-height:40px;}
.mess_right .form_bg .form_list li:first-child{margin-top:0;}
.mess_right .form_bg .form_list li .title{width:180px;padding-right: 10px;text-align: right;display: inline-block;line-height: 40px;position: absolute;left:0;}
.mess_right .form_bg .form_list li .right_con{padding-left:180px;}
.mess_right .form_bg .form_list li .right_con .w350{width:350px;}
.mess_right .form_bg .form_list li .right_con .w200{width:200px;display:inline-block;}
.mess_right .form_bg .form_list li .right_con .w90{width:90px;display:inline-block;}
.mess_right .form_bg .form_list li .right_con .form-control{border:1px solid #e4e9ed;height:40px;line-height: 40px;border-radius:4px;}
.mess_right .form_bg .form_list li .right_con .f12{font-size: 12px;margin-top:10px;color:#44555f;}
.mess_right .form_bg .form_list li .right_con .set_btn{height:40px;line-height:40px;background: #e4e9ed;display: inline-block;padding:0 25px;margin-left:10px;}
.mess_right .form_bg .tool_left{width:186px;text-align:center;}
.mess_right .form_bg .tool_right{border-left: 1px solid #e4e9ed;padding-left:70px;display: inline-block;min-width: 500px;}
.mess_right .form_bg .tool_right li{margin-bottom: 20px;}
.mess_right .form_bg .tool_right .form-control{border:1px solid #e4e9ed;height:40px;line-height: 40px;border-radius:4px;}
.mess_right .form_bg .tool_right .w350{width:350px;display: inline-block;vertical-align: top;}
.mess_right .form_bg .title{line-height: 34px;margin-right:-20px;}
.mess_right .form_bg .set_btn{margin:40px 0 0;width:160px;}
.mess_right .form_bg .cancel{height: 42px;background: #e4e5ec;color:#333;}
.mess_right .form_bg .logo_upload{width:370px;height:370px;margin:0 30px;color:#818181;background: #e4f3f9 none repeat scroll 0 0;border: 1px dashed #218b9c;}
.mess_right .form_bg .logo_upload .upload_btn{padding:10px 30px;border-radius:4px !important;background: #fff;border:1px solid #d9d9d9 !important;color:#3c3c3c;margin-top:140px;}
.mess_right .form_bg .logo_upload .upload_btn span{color:#fa7d3c;margin-right: 10px;}
.mess_right .form_bg .logo_pic{width:242px;height:80px;border:1px solid #ccccd4;margin:60px auto 0;}
.mess_right .form_bg .logo_pic img{width:239px;height:77px;}
.mess_right .form_bg .logo_upload2{height:160px;color:#818181;margin:0 30px;background: #e4f3f9;border: 1px dashed #218b9c;}
.mess_right .form_bg .logo_upload2 .upload_btn{padding:10px 30px;border-radius:4px !important;background: #fff;border:1px solid #d9d9d9 !important;color:#3c3c3c;margin-top:40px;}
.mess_right .form_bg .logo_upload2 .upload_btn span{color:#fa7d3c;margin-right: 10px;}
.mess_right .form_bg .logo_pic2{height:158px;border:1px solid #ccccd4;margin:30px 30px 0;}
.mess_right .form_bg .logo_pic2 img{height:158px;max-width:100%;}
.mess_right .form_bg .themelist{font-size: 0;}
.mess_right .form_bg .themelist li{font-size:14px;width:192px;height: 230px;position: relative;display:inline-block;margin:0 0 30px 30px;cursor:pointer;}
.mess_right .form_bg .themelist li img{width:192px;height: 230px;}
.mess_right .form_bg .themelist li.active .on{width:192px;height: 230px;display: inline-block;position: absolute;left:0;top:0;background:url('../../../img/account/theme_active.png') no-repeat;}


.btn-default{width:100%;background: #3faad0;height:42px;}

.layout-img{
	background-image: url(../../../img/account/layout.png);
}

.layout-list-1{
	background-position: -20px -901px;
}
.layout-list-2{
	background-position: -227px -901px;
}
.layout-list-3{
	background-position: -434px -901px;
}
.layout-list-4{
	background-position: -641px -901px;
}
.layout-list-5{
	background-position: -849px -901px;
}
.layout-list-6{
	background-position: -1056px -901px;
}
.layout-list-7{
	background-position: -1263px -901px;
}
.layout-list-8{
	background-position: -1470px -901px;
}


.form-inline .dengji{font-size:0;}
.form-inline .dj_box{width:172px;height:106px;border-radius:4px;display:inline-block;font-size:14px;margin-right:9px;vertical-align: top;}
.form-inline .dj_box:last-child{margin-right:0;}
.form-inline .dj_box h3{height:30px;line-height:30px;text-align: center;color:#fff;margin:0 5px;border-bottom: 1px solid #fff;display: block;}
.form-inline .dj_box p{height:46px;font-size:12px;color:#fff;margin:5px;line-height: 13px;}
.form-inline .dj_box div{height: 20px;border-radius:0 0 5px 5px;text-align: right;}
.form-inline .dj_box div span{color:#fff;margin:2px 0 0 0;}
.form-inline .bg_c1{background:#46c37b;}
.foform-inlinerm .bg_c1 div{background: #3faf6e;}
.form-inline .bg_c2{background:#71c0e9;}
.form-inline .bg_c2 div{background: #65acd1;}
.form-inline .bg_c3{background:#43b4c6;}
.form-inline .bg_c3 div{background: #3ca2b2;}
.form-inline .bg_c4{background:#f97e37;}
.form-inline .bg_c4 div{background: #e07131;}
.form-inline .bg_c5{background:#f06159;}
.form-inline .bg_c5 div{background: #d85750;}
.r_con2{padding-left: 140px;font-size: 14px;line-height: 22px;margin-top: -30px;}
.r_con2 .text{background: #f6f6f6;padding:0 15px;border:1px solid #b5b5b5;border-radius: 2px !important;height:22px;width:60px !important;display: inline-block;}